body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1402px;
  height:812px;
  background-image:none;
}
#u24_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:60px;
  width:1178px;
  height:746px;
}
#u25_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:746px;
  overflow:hidden;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:60px;
  background:inherit;
  background-color:rgba(6, 58, 106, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:1402px;
  height:60px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:21px;
  width:201px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(7, 114, 171, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(6, 58, 106, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:12px;
  width:80px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(6, 58, 106, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:220px;
  height:750px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:112px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:200px;
  background-image:none;
}
#u32_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u33_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u33.mouseOver {
}
#u33_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u33.selected {
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u34_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u34.mouseOver {
}
#u34_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u34.selected {
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u35_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u35.mouseOver {
}
#u35_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u35.selected {
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u36_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u36.mouseOver {
}
#u36_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u36.selected {
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:326px;
  width:23px;
  height:23px;
  opacity:0.8;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:74px;
  width:26px;
  height:26px;
  opacity:0.8;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:21px;
  width:20px;
  height:22px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:1px;
  width:54px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:512px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:526px;
  width:23px;
  height:23px;
  opacity:0.8;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1px;
  top:562px;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:100px;
  background-image:none;
}
#u46_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u47_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u47.mouseOver {
}
#u47_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u47.selected {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u48_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u48.mouseOver {
}
#u48_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u48.selected {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:362px;
}
#u49_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:219px;
  height:150px;
  background-image:none;
}
#u49_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u50_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u50.mouseOver {
}
#u50_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u50.selected {
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u51_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u51.mouseOver {
}
#u51_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u51.selected {
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:219px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u52_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u52.mouseOver {
}
#u52_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 225, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u52.selected {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:43px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:10px;
  width:39px;
  height:43px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:8px;
  width:49px;
  height:48px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:0px;
  width:62px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:218px;
  background:inherit;
  background-color:rgba(240, 248, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:62px;
  width:226px;
  height:218px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:82px;
  width:201px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:123px;
  width:201px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:166px;
  width:201px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:39px;
  background:inherit;
  background-color:rgba(6, 58, 106, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:219px;
  width:62px;
  height:39px;
  color:#FFFFFF;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(6, 58, 106, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#063A6A;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:219px;
  width:62px;
  height:39px;
  color:#063A6A;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
